.app {
	height: 100vh;
	padding: 2.4rem;
	overscroll-behavior-y: none;
	display: flex;
	/* flex-direction: column; */
	position: relative;
}

@media (max-width: 900px) {
	.app {
		/* display: flex; */
		flex-direction: column;
	}
}

@media (max-width: 620px) {
	.app {
		padding: 0.5rem;
	}
}
