.app {
	height: 100vh;
	overscroll-behavior-y: none;
	display: flex;
	position: relative;
}

@media (max-width: 900px) {
	.app {
		flex-direction: column;
	}
}

@media (max-width: 620px) {
	.app {
		padding: 0.5rem;
	}
}
