.app {
	height: 100vh;
	width: 100%;
	overscroll-behavior-y: none;
	display: flex;
	position: relative;
}

@media (max-width: 900px) {
	.app {
		flex-direction: column;
	}
}

@media (max-width: 620px) {
	.app {
		padding: 0.1rem;
		height: 150vh;
	}
}
