.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 2.5rem 5rem;
	background-color: var(--color-dark--1);
	min-height: 100vh;
}

@media (max-width: 835px) {
	.login {
		margin: 0.5rem;
		gap: 10rem;
		align-items: center;
		height: 100vh;
	}
}
@media (max-width: 620px) {
	.login {
		margin: 0.5rem;
		gap: 2rem;
		align-items: center;
		height: 100vh;
	}
}
